{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "importOrder": [
    "^react(.*)",
    "^(?!react)(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/styles/(.*)$",
    "^@/apis/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/router/(.*)$",
    "^@/pages/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
